body {  background-color: #DFF6FF;}
hr{border-style: none;
border-top-style: dotted;
width: 5%;
border-width: 7px;
border-color: #3BACB6;}
h1{
  color: #3BACB6;
}
h2{
  color: #3BACB6;
  text-align: center;
}
h3{
  color: #3BACB6;
  text-align: center;
}
p{
  color: #355764;
}
td{
  color: #355764;
}
h4{
  color: #3BACB6;
}
label{
  color: #355764;
}
li{
  color: #355764;
}
em{
  color: #355764;
}
